# Ignore object files in specific directories
.vscode
cgen/*.o
cgen/cgen
cgen/*.i
cgen/*.s
cgen/*.tmp.*
cpp/cpp
cpp/cpp.com
cpp/*.i
cpp/*.s
cpp/*.tmp.*
cgen/*.obj
cpm/*.o
cpm/*.obj
cpp/*.o
cpp/*.obj
huff/*.o
huff/*.obj
huff/*.i
huff/*.s
huff/*.tmp.*
link/*.o
link/*.obj
link/*.i
link/*.s
link/*.tmp.*
objtohex/*.o
objtohex/*.obj
objtohex/*.i
objtohex/*.s
objtohex/*.tmp.*
optim/*.o
optim/*.obj
optim/*.i
optim/*.s
optim/*.tmp.*
p1/*.o
p1/*.obj
p1/*.i
p1/*.s
p1/*.tmp.*
z80as/*.o
z80as/*.obj
zas/*.o
zas/*.obj
zas/*.i
zas/*.s
zas/*.tmp.*
cpm/cpm
huff/dehuff
huff/enhuff
link/link
objtohex/objtohex
optim/optim
p1/p1
z80as/z80as.com
zas/zas
.DS_Store
tests/.DS_Store
tests/HELLO.COM
tests/HELLO.OBJ
tests/HELLO1.TMP
tests/HELLO2.TMP
tests/test.com
tests/test.obj
tests/test1.tmp
tests/test2.tmp
tests/EXAMPLE.TXT